*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
.content{
    width: 40%;
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    margin: auto;
}
.nav-header {
    width: 100%;
    height: 50px;
}
.content li a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.content li a:hover {
    color: rgb(145, 131, 127);
}
.card{
    min-width: 100% ;
    height: 60vh;
    padding: 1px;
    background-color: #dfdfdf;
}
.CARD-CONT{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
/*     display: flex;
    flex-wrap: wrap; */
}
.upper-card {
    width: 100%;
    height: 80%;
}
.upper-card img{
    width: 100%;
    height: 100%;
}
.down-card {
    text-align: center; 
    width: 100%;
    height: 20%;
    background-color: #333;
    color: silver;
    padding: 10px;
}
.down-card button , .YOUR{
    width: 60%;
    height: 30%;
    background-color: #808080;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out ;
}

.down-card h2 , .down-card p{
    margin: 5px;
}
.down-card button:hover{
    background-color: #404040;
}
.down-card button:active{
    background-color: #cfcfcf;
    color: #333;
}
.price-sec{
    position: fixed;
    width: 80%;
    height: 80vh;
    background-color: #333;
    z-index: 5;
    top: 10%;
    left: 10%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: none;
    
}
.YOUR-Cart{
    text-align: center;
    margin: 30px;
}
.ca{
    height: 40px;
}
.ca:active{
    transition: .2s;
    background-color: #1a1a1a;
    color: #ffffff;
}
.choosed{
    width: 100%;
    height: 80%;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}
.totalprice{
    background-color: #808080;
    border: none;
    margin-top: 20px;
    padding: 20px 80px;
    text-align: center;
    color: #000000;
}
.totalprice:active{
    background-color: #525c66;
    color: #ffffff;
}
.TP{
    width: 200px;
    height: 40px;
    background-color: #dadada;
    text-align: center;
    line-height: 40px;
    font: italic 500 30px/1 'Times New Roman', Times, serif;
    position: absolute;
    right: 60px;
    bottom: 70px;
    display: none;
}
.close{
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    line-height: 30px;
    transition: .3s ease-in-out;
}
.close:hover{
    background-color: #7c7c7c;
    color: #ffffff;
}




@media (max-width: 1000px){
    .CARD-CONT{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px 20px;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }
    .card{
        width: 100%;
        height: 65vh;
    }
    .name{
        font-size: 15px;
    }
}
